@keyframes wobble {
  25% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }
}

@keyframes hop {
  50% {
    transform: translateY(-2dvh);
  }
}

#root {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(375px) 1fr;
  text-shadow: 0 0 .5dvh black;
  overflow-y: hidden;
}

body {
  background: conic-gradient(at 40dvw 100dvh, beige, cornflowerblue);
  color: greenyellow;
}

h1 {
  text-shadow: 5px 5px 1dvh black;
  -webkit-text-stroke: .5px black;
}

h2 {
  padding: 0 1dvw;
  background: red;
  padding: 1dvh 3dvw;
  margin-bottom: 0;
  color: white;
  text-shadow: 0 0 1rem black;
  filter: drop-shadow(0 .18em .01rem black);
  border-radius: .2rem .25rem 0 0;
  height: 4rem;
  align-self: center;
  -webkit-text-stroke: .06rem black;
  display: flex;
  align-items: center;
}

.sidebar-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #285f7f;
  min-width: 0;
  width: 30dvw;
  filter: drop-shadow(0 0 1dvh black);
}

.list-container {
  display: flex;
  justify-content: flex-start;
  overflow-y: overlay;
  max-height: 45dvh;
  scrollbar-color: #ffffff40 #00000000;
  outline: 1dvh groove white;
  border-radius: 5dvh;
  width: fit-content;
  max-width: 100%;
}

a {
  font-weight: bold;
  display: flex;
}

a:hover {
  color: #8000ff;
  animation: wobble 1s 1;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: .8dvh .5dvw;
  overflow: scroll;
  outline: 10rem solid white;
  border: .4rem solid gray;
  border-left: none;
  border-right: none;
}

li {
  font-size: 2rem;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 1.2rem;
  cursor: pointer;
  border-top: 10px groove yellow;
  border-right: 10px ridge yellow;
  border-left: 1dvh groove white;
  border-bottom: 1dvh ridge white;
  padding: 0 1.5dvw;
  min-width: min-content;
  min-width: 6rem;
  max-height: 3rem;
  border-radius: 100dvh 50dvh;
  outline: .4dvh solid black;
  text-align: center;
  background: linear-gradient(darkgray, gray);
}

.details-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  font-size: 1.5rem;
  background: darkgray;
  padding: .5dvh 2dvw;
  border-radius: 10dvh 10dvh 0 0;
  outline: 0.4dvh solid black;
}

input {
  height: 2rem;
  width: 10rem;
  margin-bottom: 1rem;
  border-radius: 100dvh 50dvh;
  padding: 2dvh 3dvw;
  font-weight: bold;
  font-size: 2dvh;
  border: 1dvh inset white;
  outline: .4dvh solid black;
}

button {
  width: 10rem;
  margin: 1rem;
  background: pink;
  padding: 0 3dvw;
  border-radius: 100dvh 100dvh 50dvh 50dvh;
  font-size: 3dvh;
  font-weight: bold;
  text-shadow: 0 0 .5dvh black;
  outline: .3rem solid black;
  border: none;
  aspect-ratio: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.4rem 0 10rem 0;
}

button:hover {
  cursor: pointer;
}

.button-container {
  padding: 2rem;
  outline: 0;
  display: flex;
  padding: 0;
}

.paw-pad {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: -1dvh 0;
  scale: .9;
  outline: .2rem solid black;
  background: white;
  border-radius: 100dvh 100dvh 0 0;
}

.paw-pad:hover {
  filter: hue-rotate(180deg);
  animation: hop .5s 1;
}

.toes {
  display: flex;
  translate: 4.4rem 1rem;
}

.toe {
  background: pink;
  width: 5.3rem;
  aspect-ratio: .8;
  border-radius: 50%;
  scale: .6;
  outline: .4rem solid black;
}

.one {
  grid-column: 1;
  translate: -1.8rem 3rem;
  rotate: -15deg;
  scale: .55;
}

.two {
  grid-column: 2;
  translate: -3.7rem 1rem;
  aspect-ratio: .7;
  rotate: -2deg;
}

.three {
  grid-column: 3;
  translate: -5.1rem 1rem;
  aspect-ratio: .7;
  rotate: 2deg;
}

.four {
  grid-column: 4;
  translate: -7rem 3rem;
  rotate: 15deg;
  scale: .55;
}

.pet-list {
  scale: .8;
}

.pet-details {
  scale: .7;
  margin: 0 -2rem;
  translate: 0 5rem;
}

#no-details {
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.foodbowl {
  display: flex;
  filter: drop-shadow(0 -.3em .01rem black);
  align-self: center;
}

.triangle {
  border: 5rem solid red;
  border-top: 1rem solid transparent;
  border-bottom-color: none;
  border-left-color: transparent;
  filter: drop-shadow(0 .25rem .01rem black);
  margin: 0 -.1rem;
}

.right {
  border-left: none;
  border-right-color: transparent;
  border-radius: 10rem 10rem 10rem 0;
  filter: drop-shadow(.1rem .25rem .01rem black);
}

.left {
  border-right: transparent;
  border-radius: 10rem 10rem 0 10rem;
}